<div class="row-fluid">
  <div class="span4">
    <form action="" class="box">
      <h5>Sign up</h5>
      <label for="">Username</label>
      <input type="email" name="" id="">
      <label for="">Password</label>
      <input type="password" name="" id="">
      <br>
      <a href="" class="btn btn-primary" id="sign-up">Sign up</a>
    </form>
  </div>
  <div class="span4">
    <form action="" class="box">
      <h5>Sign in</h5>
      <label for="">Username</label>
      <input type="email" name="" id="">
      <label for="">Password</label>
      <input type="password" name="" id="">
      <br>
      <a href="" class="btn btn-primary" id="sign-in">Sign in</a>
    </form>
  </div>
  <div class="span4">
    <form action="" class="box">
      <h5>Create event</h5>
      <label for="">Event name</label>
      <input type="text" name="" class="event-name">
      <label for="">Google Spreadsheet url</label>
      <input type="text" name="" class="key" val="">
      <br>
      <a href="" class="btn btn-primary" id="create-event" >Create event</a>
    </form>
  </div>
</div>
