<div class="row-fluid">
  <div class="span4 box">
    <form action="">
      <h5>Sign Up</h5>
      <label for="">Username</label>
      <input type="email" placeholder="Your email address" name="email">
      <label for="">Password</label>
      <input type="password" name="password">
      <br>
      <a href="" class="btn btn-primary" id="sign-up">Sign Up</a>
    </form>
  </div>
  <div class="span4 box">
    <form action="">
      <h5>Log in</h5>
      <label for="">Username</label>
      <input type="email" placeholder="Your email address" name="email">
      <label for="">Password</label>
      <input type="password" name="password">
      <br>
      <a href="" class="btn btn-success" id="sign-in">Sign in</a>
    </form>
  </div>
  <div class="span4 box">
    <form action="">
      <h5>Create event pages</h5>
      <label for="">Event name</label>
      <input type="text" name="" class="event-name">
      <label for="">Google Docs Spreadsheet</label>
      <input type="text" name="" class="key" value="" >
      <br>
      <a href="" id="submit-event" class="btn btn-primary">Submit</a>
    </form>
  </div>
</div>






