<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{assets}}/bootstrap.css">
  </head>
  <body>

    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a href="#" class="brand">Events</a>
        </div>
      </div>
      <div class="row-fluid">
        {{> body }}
      </div>
    </div>
  </body>
</html>
