---
title       : MIKLOS GYORGY
date: 2013-07-18 00:00
dayNo       : 1
location    : 
description : Lorem ipsum

media       : http://www.youtube.com/embed/MI9usrze73w
gigsNavTemplate:
  gigsNav:
  
  - location: Main Stage
    nav:
    
    -
      linkText: 19:00:00 - Vita de vie
      linkHref: 2013-07-18-19-00-vita-de-vie
    
    -
      linkText: 21:00:00 - Alborosie
      linkHref: 2013-07-18-21-00-alborosie
    
    -
      linkText: 23:00:00 - PAUL KALKBRENNER
      linkHref: 2013-07-18-23-00-paul-kalkbrenner
    
  
  - location: KISS TERRACE
    nav:
    
    -
      linkText: 18:30:00 - ANIMA SS
      linkHref: 2013-07-18-18-30-anima-ss
    
    -
      linkText: 20:00:00 - SARMALELE RECI
      linkHref: 2013-07-18-20-00-sarmalele-reci
    
    -
      linkText: 22:00:00 - NEGURA BUNGET
      linkHref: 2013-07-18-22-00-negura-bunget
    
  
  - location: BRUNO UNPLUGGED WINE GARDEN
    nav:
    
    -
      linkText: 18:00:00 - MIKLOS GYORGY
      linkHref: 2013-07-18-18-00-miklos-gyorgy
    
    -
      linkText: 19:15:00 - INDIE FOLKER
      linkHref: 2013-07-18-19-15-indie-folker
    
    -
      linkText: 20:30:00 - GROOVEBENT BAND
      linkHref: 2013-07-18-20-30-groovebent-band
    
  
daysNav     : daysNav

---
<div class="span3">
  <ul class="nav nav-tabs nav-stacked">
    
      <li><a href="../day-1.html">Day 1</a></li>
    
      <li><a href="../day-2.html">Day 2</a></li>
    
  </ul>
</div>
<div class="span9">
  <h3>Day 1 - 18th July 2013</h3>
  <div class="row-fluid">
    <div class="span3">
      {{> gigsNavTemplate}}
    </div>
    <div class="span9">
      <h1>MIKLOS GYORGY</h1>
      <iframe
        width="560"
        height="315"
        src="http://www.youtube.com/embed/MI9usrze73w"
        frameborder="0"
        allowfullscreen>
      </iframe>
      <p>Officiis, voluptatibus quod totam ut labore reprehenderit?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, aspernatur, atque quasi porro corporis illum cupiditate non labore sed neque nam ut ducimus nisi placeat tenetur. Aut, perspiciatis corporis voluptatibus.

</p>
    </div>
  </div>
</div>
