---
title       : EMIR KUSTURICA &amp; THE NO SMOKING ORCHESTRA
date: 2013-07-19 00:00
dayNo       : 2
location    : 
description : Lorem ipsum

media       : http://www.youtube.com/embed/dpO93jR4kL4
gigsNavTemplate:
  gigsNav:
  
  - location: Main Stage
    nav:
    
    -
      linkText: 19:00:00 - KISTEHÉN
      linkHref: 2013-07-19-19-00-kistehÉn
    
    -
      linkText: 21:00:00 - THE SWEET LIFE SOCIETY
      linkHref: 2013-07-19-21-00-the-sweet-life-society
    
    -
      linkText: 23:00:00 - EMIR KUSTURICA &amp; THE NO SMOKING ORCHESTRA
      linkHref: 2013-07-19-23-00-emir-kusturica-&amp; the-no-smoking-orchestra
    
  
  - location: KISS TERRACE
    nav:
    
    -
      linkText: 18:30:00 - ALTAR
      linkHref: 2013-07-19-18-30-altar
    
    -
      linkText: 20:00:00 - GANXSTA ZOLEE &amp; A KARTEL
      linkHref: 2013-07-19-20-00-ganxsta-zolee-&amp; a-kartel
    
    -
      linkText: 22:30:00 - BENGA
      linkHref: 2013-07-19-22-30-benga
    
  
  - location: BRUNO UNPLUGGED WINE GARDEN
    nav:
    
    -
      linkText: 19:15:00 - AUTUMN HOTEL acustic
      linkHref: 2013-07-19-19-15-autumn-hotel-acustic
    
    -
      linkText: 21:00:00 - GRIMUS acustic
      linkHref: 2013-07-19-21-00-grimus-acustic
    
  
daysNav     : daysNav

---
<div class="span3">
  <ul class="nav nav-tabs nav-stacked">
    
      <li><a href="../day-1.html">Day 1</a></li>
    
      <li><a href="../day-2.html">Day 2</a></li>
    
  </ul>
</div>
<div class="span9">
  <h3>Day 2 - 19th July 2013</h3>
  <div class="row-fluid">
    <div class="span3">
      {{> gigsNavTemplate}}
    </div>
    <div class="span9">
      <h1>EMIR KUSTURICA &amp; THE NO SMOKING ORCHESTRA</h1>
      <iframe
        width="560"
        height="315"
        src="http://www.youtube.com/embed/dpO93jR4kL4"
        frameborder="0"
        allowfullscreen>
      </iframe>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, aspernatur, atque quasi porro corporis illum cupiditate non labore sed neque nam ut ducimus nisi placeat tenetur. Aut, perspiciatis corporis voluptatibus.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, aspernatur, atque quasi porro corporis illum cupiditate non labore sed neque nam ut ducimus nisi placeat tenetur. Aut, perspiciatis corporis voluptatibus.
</p>
    </div>
  </div>
</div>
