---
title       : Alborosie
date: 2013-07-18 00:00
dayNo       : 1
location    : 
description : Alborosie este un artist polivalent. Originar din Sicilia, acum locuieşte în Jamaica şi are o impresionantă coamă de tip rasta. Nu doar vocea îl recomandă, ci şi talentul de DJ şi compozitor, iar când înregistrează în studio cântă la aproape toate instrumentele care îi animă piesele. Alborosie este un cetăţean al lumii, un maestru al reggae-ului tradiţional, care a identificat şi drumul către viitorul acestui gen muzical. Unul din cele mai mari staruri internaţionale ale reggae-ului, el îşi va lansa noul album, Sound the System, pe 1 iulie, iar în cadrul turneului de promovare va poposi şi la Festivalul Peninsula. În ciuda denumirii discului, concertul starului nu se va baza pe un “soundsystem”, ci va include o duzină de muzicieni. Din 1992, de la vârsta de 15 ani, Alborosie este un membru activ al scenei de reggae, adică încă din momentul în care a pus bazele primei sale formaţii, Reggae National Tickets. În 2001 s-a mutat în Jamaica, unde a fost sunetist şi producător pentru staruri precum Wyclef Jean sau Manu Chao, după care şi-a proclamat viziunea rastafari cu hituri ca Herbalist, Kingston Town sau Rastafari Anthem.
media       : http://www.youtube.com/embed/jj4PUDZtgvk
gigsNav     :

daysNav     : daysNav

---
<div class="span3">
  <ul class="nav nav-tabs nav-stacked">
    
      <li><a href="../day-1.html">Day 1</a></li>
    
      <li><a href="../day-2.html">Day 2</a></li>
    
  </ul>
</div>
<div class="span9">
  <h3>Day 1 - 18th July 2013</h3>
  <div class="row-fluid">
    <div class="span3">
      <ul class="unstyled">
        
        <li>
          Main Stage

          <ul class="unstyled">
            
              <li><a href="vita-de-vie-71820131900.html">19:00:00 - Vita de vie</a></li>
            
              <li><a href="alborosie-71820132100.html">21:00:00 - Alborosie</a></li>
            
              <li><a href="paul-kalkbrenner-71820132300.html">23:00:00 - PAUL KALKBRENNER</a></li>
            
          </ul>
          </li>
        
        <li>
          KISS TERRACE

          <ul class="unstyled">
            
              <li><a href="anima-ss-71820131830.html">18:30:00 - ANIMA SS</a></li>
            
              <li><a href="sarmalele-reci-71820132000.html">20:00:00 - SARMALELE RECI</a></li>
            
              <li><a href="negura-bunget-71820132200.html">22:00:00 - NEGURA BUNGET</a></li>
            
          </ul>
          </li>
        
        <li>
          BRUNO UNPLUGGED WINE GARDEN

          <ul class="unstyled">
            
              <li><a href="miklos-gyorgy-71820131800.html">18:00:00 - MIKLOS GYORGY</a></li>
            
              <li><a href="indie-folker-71820131915.html">19:15:00 - INDIE FOLKER</a></li>
            
              <li><a href="groovebent-band-71820132030.html">20:30:00 - GROOVEBENT BAND</a></li>
            
          </ul>
          </li>
        
      </ul>
    </div>
    <div class="span9">
      <h1>Alborosie</h1>
      <iframe
        width="560"
        height="315"
        src="http://www.youtube.com/embed/jj4PUDZtgvk"
        frameborder="0"
        allowfullscreen>
      </iframe>
      <p>Alborosie este un artist polivalent. Originar din Sicilia, acum locuieşte în Jamaica şi are o impresionantă coamă de tip rasta. Nu doar vocea îl recomandă, ci şi talentul de DJ şi compozitor, iar când înregistrează în studio cântă la aproape toate instrumentele care îi animă piesele. Alborosie este un cetăţean al lumii, un maestru al reggae-ului tradiţional, care a identificat şi drumul către viitorul acestui gen muzical. Unul din cele mai mari staruri internaţionale ale reggae-ului, el îşi va lansa noul album, Sound the System, pe 1 iulie, iar în cadrul turneului de promovare va poposi şi la Festivalul Peninsula. În ciuda denumirii discului, concertul starului nu se va baza pe un “soundsystem”, ci va include o duzină de muzicieni. Din 1992, de la vârsta de 15 ani, Alborosie este un membru activ al scenei de reggae, adică încă din momentul în care a pus bazele primei sale formaţii, Reggae National Tickets. În 2001 s-a mutat în Jamaica, unde a fost sunetist şi producător pentru staruri precum Wyclef Jean sau Manu Chao, după care şi-a proclamat viziunea rastafari cu hituri ca Herbalist, Kingston Town sau Rastafari Anthem.</p>
    </div>
  </div>
</div>
