---
title       : AUTUMN HOTEL acustic
date: 2013-07-19 00:00
dayNo       : 2
location    : 
description : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, aspernatur, atque quasi porro corporis illum cupiditate non labore sed neque nam ut ducimus nisi placeat tenetur. Aut, perspiciatis corporis voluptatibus.


media       : http://www.youtube.com/embed/g1TBgcctcco
gigsNav     :

daysNav     : daysNav

---
<div class="span3">
  <ul class="nav nav-tabs nav-stacked">
    
      <li><a href="../day-1.html">Day 1</a></li>
    
      <li><a href="../day-2.html">Day 2</a></li>
    
  </ul>
</div>
<div class="span9">
  <h3>Day 2 - 19th July 2013</h3>
  <div class="row-fluid">
    <div class="span3">
      <ul class="unstyled">
        
        <li>
          Main Stage

          <ul class="unstyled">
            
              <li><a href="kistehÉn-71920131900.html">19:00:00 - KISTEHÉN</a></li>
            
              <li><a href="the-sweet-life-society-71920132100.html">21:00:00 - THE SWEET LIFE SOCIETY</a></li>
            
              <li><a href="emir-kusturica-&amp; the-no-smoking-orchestra-71920132300.html">23:00:00 - EMIR KUSTURICA &amp; THE NO SMOKING ORCHESTRA</a></li>
            
          </ul>
          </li>
        
        <li>
          KISS TERRACE

          <ul class="unstyled">
            
              <li><a href="altar-71920131830.html">18:30:00 - ALTAR</a></li>
            
              <li><a href="ganxsta-zolee-&amp; a-kartel-71920132000.html">20:00:00 - GANXSTA ZOLEE &amp; A KARTEL</a></li>
            
              <li><a href="benga-71920132230.html">22:30:00 - BENGA</a></li>
            
          </ul>
          </li>
        
        <li>
          BRUNO UNPLUGGED WINE GARDEN

          <ul class="unstyled">
            
              <li><a href="autumn-hotel-acustic-71920131915.html">19:15:00 - AUTUMN HOTEL acustic</a></li>
            
              <li><a href="grimus-acustic-71920132100.html">21:00:00 - GRIMUS acustic</a></li>
            
          </ul>
          </li>
        
      </ul>
    </div>
    <div class="span9">
      <h1>AUTUMN HOTEL acustic</h1>
      <iframe
        width="560"
        height="315"
        src="http://www.youtube.com/embed/g1TBgcctcco"
        frameborder="0"
        allowfullscreen>
      </iframe>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, aspernatur, atque quasi porro corporis illum cupiditate non labore sed neque nam ut ducimus nisi placeat tenetur. Aut, perspiciatis corporis voluptatibus.

</p>
    </div>
  </div>
</div>
