---
title: PAUL KALKBRENNER
day: 18
date: 2013-07-18 00:00
image: 
venue: 
---

<h1>PAUL KALKBRENNER</h1>
&quot;Muzica techno a fost tot timpul plină de melancolie. Poata fi foarte tristă: fragilitatea în duritate. Există diferenţe între ce este popular şi art music. Eu fac art music&quot;. Aşa vorbeşte despre muzica sa unul din cei mai cunoscuţi DJ ai lumii, berlinezul Paul Kalkbrenner. În ciuda faptului că este considerat un superstar, artistul a fost tot timpul cu picioarele pe pământ. Este talentat, ambiţios şi are succes, dar de multe ori lasă să se întrevadă şi o anume joacă de copii în creaţia sa. Vorbim de un raver care îi face pe fani să ridice mâinile în aer, dar îşi ia timp şi pentru autoreflecţie. 
