---
title       : Vita de vie
date: 2013-07-18 00:00
dayNo       : 1
location    : 
description : 2000 se lanseaza clipul &quot;Vino la mine&quot;
premiul OTTO acordat de revista Bravo pentru cea mai buna formatie
lansare album &quot;Lucky Nights Live&quot; împreuna cu Timpuri Noi

1999 se lanseaza albumul FENOMENTAL cu clipul &quot;Basul si cu toba mare&quot;

1998 Turneu Hollywood Rock Tour alaturi de Holograf si Timpuri Noi
Burete îl înlocuieste pe Pepino la bass

1997 se lanseaza albumul de debut RAHOVA

1996 se înregistreaza primul demo la Adrian Ordean în studio, ocazie cu care grupul a fost botezat &quot; Vita de Vie &quot; de catre acesta. 
media       : http://www.youtube.com/embed/O9BGNu0EaOU
gigsNav     :

daysNav     : daysNav

---
<div class="span3">
  <ul class="nav nav-tabs nav-stacked">
    
      <li><a href="../day-1.html">Day 1</a></li>
    
      <li><a href="../day-2.html">Day 2</a></li>
    
  </ul>
</div>
<div class="span9">
  <h3>Day 1 - 18th July 2013</h3>
  <div class="row-fluid">
    <div class="span3">
      <ul class="unstyled">
        
        <li>
          Main Stage

          <ul class="unstyled">
            
              <li><a href="vita-de-vie-71820131900.html">19:00:00 - Vita de vie</a></li>
            
              <li><a href="alborosie-71820132100.html">21:00:00 - Alborosie</a></li>
            
              <li><a href="paul-kalkbrenner-71820132300.html">23:00:00 - PAUL KALKBRENNER</a></li>
            
          </ul>
          </li>
        
        <li>
          KISS TERRACE

          <ul class="unstyled">
            
              <li><a href="anima-ss-71820131830.html">18:30:00 - ANIMA SS</a></li>
            
              <li><a href="sarmalele-reci-71820132000.html">20:00:00 - SARMALELE RECI</a></li>
            
              <li><a href="negura-bunget-71820132200.html">22:00:00 - NEGURA BUNGET</a></li>
            
          </ul>
          </li>
        
        <li>
          BRUNO UNPLUGGED WINE GARDEN

          <ul class="unstyled">
            
              <li><a href="miklos-gyorgy-71820131800.html">18:00:00 - MIKLOS GYORGY</a></li>
            
              <li><a href="indie-folker-71820131915.html">19:15:00 - INDIE FOLKER</a></li>
            
              <li><a href="groovebent-band-71820132030.html">20:30:00 - GROOVEBENT BAND</a></li>
            
          </ul>
          </li>
        
      </ul>
    </div>
    <div class="span9">
      <h1>Vita de vie</h1>
      <iframe
        width="560"
        height="315"
        src="http://www.youtube.com/embed/O9BGNu0EaOU"
        frameborder="0"
        allowfullscreen>
      </iframe>
      <p>2000 se lanseaza clipul &quot;Vino la mine&quot;
premiul OTTO acordat de revista Bravo pentru cea mai buna formatie
lansare album &quot;Lucky Nights Live&quot; împreuna cu Timpuri Noi

1999 se lanseaza albumul FENOMENTAL cu clipul &quot;Basul si cu toba mare&quot;

1998 Turneu Hollywood Rock Tour alaturi de Holograf si Timpuri Noi
Burete îl înlocuieste pe Pepino la bass

1997 se lanseaza albumul de debut RAHOVA

1996 se înregistreaza primul demo la Adrian Ordean în studio, ocazie cu care grupul a fost botezat &quot; Vita de Vie &quot; de catre acesta. </p>
    </div>
  </div>
</div>
