---
title: Vita de vie
day: 18
date: 2013-07-18 00:00
image: 
venue: 
---

<h1>Vita de vie</h1>
2000 se lanseaza clipul &quot;Vino la mine&quot;
premiul OTTO acordat de revista Bravo pentru cea mai buna formatie
lansare album &quot;Lucky Nights Live&quot; împreuna cu Timpuri Noi

1999 se lanseaza albumul FENOMENTAL cu clipul &quot;Basul si cu toba mare&quot;

1998 Turneu Hollywood Rock Tour alaturi de Holograf si Timpuri Noi
Burete îl înlocuieste pe Pepino la bass

1997 se lanseaza albumul de debut RAHOVA

1996 se înregistreaza primul demo la Adrian Ordean în studio, ocazie cu care grupul a fost botezat &quot; Vita de Vie &quot; de catre acesta. 
